<div class="nav-menu">
    <ul>
        {% for info in infos %}
        <li><a href="{{ path('core_information_show', {id: info.id}) }}">{{ info.title }}</a></li>
        {% endfor %}
    </ul>
</div>